<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{% block title %}Stride Dashboard{% endblock %}</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-one-quarter">
          <aside class="menu">
            <p class="menu-label">Dashboard</p>
            <ul class="menu-list">
              <li><a class="{% if active_page == 'home' %}is-active{% endif %}" href="/ui/home">Home</a></li>
              <li><a class="{% if active_page == 'progress' %}is-active{% endif %}" href="/ui/pace/monthly">Progress</a>
              </li>
            </ul>
          </aside>
        </div>
        <div class="column">
          <h1 class="title">{% block page_title %}{% endblock %}</h1>
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>
  </section>

  {% block scripts %}{% endblock %}
</body>

</html>
